*.jar

logs/

plugins/dynmap/web/
plugins/dynmap/colorschemes/
plugins/dynmap/ids-by-ip.txt
plugins/dynmap/world.pending
plugins/Essentials/userdata/
plugins/Essentials/usermap.csv
plugins/WorldEdit/.archive-unpack
plugins/WorldEdit/sessions/
plugins/WorldGuard/cache/profiles.sqlite
usercache.json

/world/
/world_nether/
/world_the_end/
.console_history
plugins/LogBlock/config.yml
plugins/LuckPerms/luckperms-h2.mv.db
plugins/LuckPerms/translations/
plugins/Skript/
plugins/Skoice/
plugins/Train_Carts/destinations.dat
plugins/Train_Carts/spawnsigns.dat
plugins/Vixio/
version_history.json
