*.jar

logs/

plugins/dynmap/web/
plugins/dynmap/colorschemes/
plugins/dynmap/ids-by-ip.txt
plugins/dynmap/world.pending
plugins/Essentials/userdata/
plugins/Essentials/usermap.csv
plugins/WorldEdit/.archive-unpack
plugins/WorldEdit/sessions/
plugins/WorldGuard/cache/profiles.sqlite
usercache.json
whitelist.json

/world/
/world_nether/
/world_the_end/